# üë®‚Äçüë®‚Äçüë¶‚Äçüë¶Census Income Dataset Classification

Classifiers used : Bagging Classifier, Voting Classifier, ExtraTree Classifier, Random Forest Classifier, Decision Tree Classifier

## Importing Essentials

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings("ignore")

%matplotlib inline

Importing cleaned data from MongoDB

In [4]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://Shaah_i:1Caps1low@shaahi.ku1bjvf.mongodb.net/?retryWrites=true&w=majority")
db = client.test
print(db)

Database(MongoClient(host=['ac-seysk7d-shard-00-02.ku1bjvf.mongodb.net:27017', 'ac-seysk7d-shard-00-01.ku1bjvf.mongodb.net:27017', 'ac-seysk7d-shard-00-00.ku1bjvf.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-jtsuo7-shard-0', tls=True), 'test')

In [5]:
database = client['machine_learning']
collection = database['census_income_data']

In [6]:
df = pd.DataFrame(list(collection.find()))

In [7]:
df

,_id,index,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,6363e0a1a3734f9b3454f76a,1,50,6,83311,13,6,11,5,4,...,0,0,0,0,0,0,0,1,0,0
1,6363e0a1a3734f9b3454f76d,4,28,7,338409,13,6,13,1,3,...,0,0,0,0,0,0,0,0,0,0
2,6363e0a1a3734f9b3454f76b,2,38,7,215646,9,4,5,4,4,...,0,0,0,0,0,0,0,1,0,0
3,6363e0a1a3734f9b3454f76e,5,37,7,284582,14,6,11,1,4,...,0,0,0,0,0,0,0,1,0,0
4,6363e0a1a3734f9b3454f779,17,32,7,186824,9,5,7,2,4,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,6363e0a1a3734f9b34556d37,32557,40,7,154374,9,6,7,5,4,...,0,0,0,0,0,0,0,1,0,0
30158,6363e0a1a3734f9b34556d36,32556,27,7,257302,12,6,3,1,4,...,0,0,0,0,0,0,0,1,0,0
30159,6363e0a1a3734f9b34556d38,32558,58,7,151910,9,2,10,2,4,...,0,0,0,0,0,0,0,1,0,0
30160,6363e0a1a3734f9b34556d34,32554,53,7,321865,14,6,11,5,4,...,0,0,0,0,0,0,0,1,0,0
30161,6363e0a1a3734f9b34556d39,32559,22,7,201490,9,5,10,3,4,...,0,0,0,0,0,0,0,1,0,0

In [23]:
X = df.drop(["_id","salary"], axis=1)
X

,index,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,1,50,6,83311,13,6,11,5,4,1,...,0,0,0,0,0,0,0,1,0,0
1,4,28,7,338409,13,6,13,1,3,0,...,0,0,0,0,0,0,0,0,0,0
2,2,38,7,215646,9,4,5,4,4,1,...,0,0,0,0,0,0,0,1,0,0
3,5,37,7,284582,14,6,11,1,4,0,...,0,0,0,0,0,0,0,1,0,0
4,17,32,7,186824,9,5,7,2,4,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,32557,40,7,154374,9,6,7,5,4,1,...,0,0,0,0,0,0,0,1,0,0
30158,32556,27,7,257302,12,6,3,1,4,0,...,0,0,0,0,0,0,0,1,0,0
30159,32558,58,7,151910,9,2,10,2,4,0,...,0,0,0,0,0,0,0,1,0,0
30160,32554,53,7,321865,14,6,11,5,4,1,...,0,0,0,0,0,0,0,1,0,0
30161,32559,22,7,201490,9,5,10,3,4,1,...,0,0,0,0,0,0,0,1,0,0

In [24]:
y =  df["salary"]
y

0        0
1        0
2        0
3        0
4        0
        ..
30157    1
30158    0
30159    0
30160    1
30161    0
Name: salary, Length: 30162, dtype: int64

**Train-Test split**

In [25]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=0.3, random_state=32)

**Standardize the dataset**

In [26]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [27]:
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier, VotingClassifier, ExtraTreesClassifier
from sklearn.metrics import f1_score, accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [22]:
Log_reg = LogisticRegression()
DT_clas = DecisionTreeClassifier()
RF_clas = RandomForestClassifier()
Bag_clas = BaggingClassifier(base_estimator=RF_clas, n_estimators=20, random_state=32)
ET_clas = ExtraTreesClassifier(n_estimators=20, random_state=32)
Vot_clas = VotingClassifier([('lr', Log_reg), ('rf', RF_clas), ('r3', DT_clas)])

classifier = [Log_reg, DT_clas, RF_clas, Bag_clas, ET_clas, Vot_clas]

# creating a pipeline
from sklearn.pipeline import Pipeline

for c in classifier:
    pipe = Pipeline(steps = [('classifier', c)])
    pipe.fit(X_train, y_train)
    y_pred = pipe.predict(X_test)
    
    accuracy = accuracy_score(y_test, y_pred)
    f1score = f1_score(y_test, y_pred)
    
    print(f"Algorithm: {c}")
    print(f"Accuracy: {accuracy}")
    print(f"F1-Score: {f1score}")
    print("\n")

Algorithm: LogisticRegression()
Accuracy: 0.8376616200685159
F1-Score: 0.6228498074454428


Algorithm: DecisionTreeClassifier()
Accuracy: 0.8113603713117472
F1-Score: 0.6301191765980498


Algorithm: RandomForestClassifier()
Accuracy: 0.8631893026853796
F1-Score: 0.7008216529724505


Algorithm: BaggingClassifier(base_estimator=RandomForestClassifier(), n_estimators=20,
                  random_state=32)
Accuracy: 0.8650679633108631
F1-Score: 0.7038564152316275


Algorithm: ExtraTreesClassifier(n_estimators=20, random_state=32)
Accuracy: 0.8441816775334291
F1-Score: 0.654072620215898


Algorithm: VotingClassifier(estimators=[('lr', LogisticRegression()),
                             ('rf', RandomForestClassifier()),
                             ('r3', DecisionTreeClassifier())])
Accuracy: 0.8582163775002762
F1-Score: 0.6851533742331288

Here we can see that by using ensemble techniques the F1 score has increased by around 8% from lowest one